<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="home">
       {% csrf_token %}

<label for=""> Username </label>
<input type="text" id = "ussername" name ="ussername" placeholder="Enter your username">
<label for=""> Password </label>
<input type="password" id = "pass1" name ="pass1"  placeholder="Enter your password">

 <button type="submit"><a>signin</a></button>

   </form>
</body>
</html> 