<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="signin">
       {% csrf_token %}

<label for=""> Username </label>
<input type="text" id = "ussername" name ="ussername" placeholder="Create a username">
<label for=""> First Name </label>
<input type="text" id = "fname" name ="fname"  placeholder="enter your first name">
<label for=""> Last Name </label>
<input type="text" id = "lname" name ="lname"  placeholder="enter your last name">
<label for=""> Email Address </label> 
<input type="text" id = "email" name ="email"  placeholder="enter your email">
<label for=""> Password </label>
<input type="password" id = "pass1" name ="pass1"  placeholder="Create a password">
<label for=""> Confirm your Password </label>
<input type="password" id = "pass2" name ="pass2"  placeholder="Verify your password">
 <button type="submit"> signup</button>
 

   </form>
</body>
</html>